
<div class="workerinfo-main-cont jsWorkersInfoMainCont">
    <div class="workerinfo-sub-cont jsWorkerInfoSubCont">
        <div class="workerinfo-title-cont jsWorkerInfoTitleCont">
            <h2 class="workerinfo-title-text jsWorkerInfoTitleText">Workers Information Sheet</h2>
            <h2 class="workerinfo-title-close">&times;</h2>
        </div>

        @*personal information*@
        <div class="workerinfo-persinfo-title-cont jsWorkerHeaderTitleCont jsPersInfoHeaderTitleCont">
            <h2 class="workerinfo-sub-title-text">Personal Information</h2>
            <button class="workers-btn workerinfo-btn jsWorkerInfoSaveBtn jsWorkersSaveBtn">Save</button>
            <button class="workers-btn disable-btn jsWorkerInfoCancelBtn">Cancel</button>
        </div>
        <div class="workerinfo-item-main-cont jsWorkerInfoItemPersInfoMainCont">
            <div class="workerinfo-emp-number-cont">
                <label class="workerinfo-item-label">Employee No. :</label>
                <h2 class="employee-number-text jsEmployeeNumberText"></h2>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">First Name :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="FirstName" class="workerinfo-item-input jsFirstName validate jsPersInfoInput" data-name="firstName" />
                    <button class="position-relative input-btn jsWorkerInfoEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Middle Name :</label>

                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="MiddleName" class="workerinfo-item-input jsMiddleName validate jsPersInfoInput" data-name="middleName" />
                    <button class="position-relative input-btn jsWorkerInfoEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Last Name :</label>

                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="LastName" class="workerinfo-item-input jsLastName validate jsPersInfoInput" data-name="lastName" />
                    <button class="position-relative input-btn jsWorkerInfoEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Birth Date :</label>

                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="DateOfBirth" type="date" class="workerinfo-item-input jsDateOfBirth validate jsPersInfoInput" data-name="dateOfBirth" />
                    <button class="position-relative input-btn jsWorkerInfoEditBtn">EDIT</button>
                </div>
            </div>
        </div>

        @*benifits*@
        <div class="workerinfo-persinfo-title-cont jsWorkerHeaderTitleCont">
            <h2 class="workerinfo-sub-title-text">Benefits</h2>
            <button class="workerinfo-btn jsBenifitsSaveBtn jsWorkersSaveBtn">Save</button>
            <button class="disable-btn jsBenifitsCancelBtn">Cancel</button>
        </div>
        <div class="workerinfo-item-main-cont jsWorkerInfoItemBenifitsMainCont">
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">UMID No :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="UMIDNumber" class="workerinfo-item-input jsUMIDNumber jsBenifitsInput" placeholder="*example 0033-1234567-1" data-name="umidNumber" />
                    <button class="input-btn jsBenifitsEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">SSS No :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="SSSNumber" class="workerinfo-item-input jsSSSNumber jsBenifitsInput" placeholder="*example 33-1234567-2" data-name="sssNumber" />
                    <button class="input-btn jsBenifitsEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Pag-ibig No :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="PagIbigNumber" class="workerinfo-item-input jsPagIbigNumber jsBenifitsInput" placeholder="*example 1234-1234-1234" data-name="pagIbigNumber" />
                    <button class="input-btn jsBenifitsEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Philhealth No :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="PhilHealthNumber" class="workerinfo-item-input jsPhilHealthNumber jsBenifitsInput" placeholder="*example 02-123456789-5" data-name="philHealthNumber" />
                    <button class="input-btn jsBenifitsEditBtn">EDIT</button>
                </div>
            </div>

            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">TIN No :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="TINNumber" class="workerinfo-item-input jsTINNumber jsBenifitsInput" placeholder="*example 123-456-789-000" data-name="philHealthNumber" />
                    <button class="input-btn jsBenifitsEditBtn">EDIT</button>
                </div>
            </div>

        </div>
        @*contacts*@
        <div class="workerinfo-persinfo-title-cont jsWorkerHeaderTitleCont">
            <h2 class="workerinfo-sub-title-text">Contact</h2>
            <button class="workerinfo-btn jsContactSaveBtn jsWorkersSaveBtn">Save</button>
            <button class="disable-btn jsContactCancelBtn">Cancel</button>
        </div>
        <div class="workerinfo-item-main-cont jsWorkerInfoItemContactMainCont">
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Mobile No* :</label>
                
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="MobileNumber" class="workerinfo-item-input jsMobileNumber jsContactsInput" data-name="mobileNumber" />
                    <button class="input-btn jsContactsEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Landline No :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="LandLineNumber" class="workerinfo-item-input jsLandLineNumber jsContactsInput" data-name="landLineNumber" />
                    <button class="input-btn jsContactsEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Email Add :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="EmailAddress" class="workerinfo-item-input jsEmailAddress jsContactsInput" data-name="emailAddress" />
                    <button class="input-btn jsContactsEditBtn">EDIT</button>
                </div>
            </div>

        </div>

        @*compensation*@
        <div class="workerinfo-persinfo-title-cont jsWorkerHeaderTitleCont">
            <h2 class="workerinfo-sub-title-text">Compensation</h2>
            <button class="workerinfo-btn jsCompensationSaveBtn jsWorkersSaveBtn">Save</button>
            <button class="disable-btn jsCompensationCancelBtn">Cancel</button>
        </div>
        <div class="workerinfo-item-main-cont jsWorkerInfoItemCompensationMainCont">
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Basic Salary :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="BasicSalary" class="workerinfo-item-input jsBasicSalary jsCompensation" data-name="basicSalary" />
                    <button class="input-btn jsCompensationEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Rate Period:</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <select name="RatePeriod" class="workerinfo-item-select jsCompensation jsRatePeriod">
                        <option class="workerinfo-item-options" data-id=1>Daily</option>
                        <option class="workerinfo-item-options" data-id=2>Monthly</option>
                    </select>
                    <button class="input-btn jsCompensationEditBtn">EDIT</button>
                </div>
            </div>
            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Allowance :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <input name="Allowance" class="workerinfo-item-input jsAllowance jsCompensation" data-name="Allowance" value="0.00" />
                    <button class="input-btn jsCompensationEditBtn">EDIT</button>
                </div>
            </div>

            <div class="workerinfo-item-cont">
                <label class="workerinfo-item-label">Fixed Salary? :</label>
                <div class="workerinfo-input-icon-cont jsInputBtnCont">
                    <select name="IsSalaryFixed" class="workerinfo-item-select jsCompensation jsIsSalaryFixed disable-input" disabled>
                        <option class="workerinfo-item-options" value="0" data-id=0>No</option>
                        <option class="workerinfo-item-options" value="1" data-id=1>Yes</option>
                    </select>
                    <button class="input-btn jsCompensationEditBtn">EDIT</button>
                </div>
            </div>

        </div>
    </div>
</div>
