
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HR Management System</title>

    <link rel="stylesheet" href="~/css/css_mainLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_global.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_subLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_signin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_workersinfo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_allEmployee.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_demo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_final.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/css_spinner.css" asp-append-version="true" />
    <link rel="manifest" href="/manifest.json">


</head>
<body>
    <div class="mainlayout-main-cont jsMainLayoutCont">
        @RenderBody()
    </div>

    <script src="~/js/js_global.js" asp-append-version="true"></script>
     <script src="~/js/js_commonFunc.js" asp-append-version="true"></script>
    <script src="~/js/js_mainLayout.js" asp-append-version="true"></script>
    <script src="~/js/js_subLayout.js" asp-append-version="true"></script>
    <script src="~/js/js_signin.js" asp-append-version="true"></script>
    <script src="~/js/js_homePage.js" asp-append-version="true"></script>
    <script src="~/js/js_homePage.js" asp-append-version="true"></script>
    <script src="~/js/js_workersInfo.js" asp-append-version="true"></script>
    <script src="~/js/js_workersInfo_persInfo.js" asp-append-version="true"></script>
    <script src="~/js/js_workersInfo_benifits.js" asp-append-version="true"></script>
    <script src="~/js/js_workersInfo_contacts.js" asp-append-version="true"></script>
    <script src="~/js/js_workersInfo_compensation.js" asp-append-version="true"></script>
    <script src="~/js/js_allEmployee.js" asp-append-version="true"></script>
    <script src="~/js/js_spinner.js" asp-append-version="true"></script>
</body>
</html>
