
<div class="emp-det-sub-phil-address-cont jsEmpDetSubPhilAddressCont">
    <div class="emp-det-sub-ind-cont jsEmpDetIndCont">
        <label class="emp-det-label">Region:</label>
        <div class="all-emp-custom-select-main-cont jsAllEmpCustomSelectMainCont">
            <div class="all-emp-custom-select-input-arrow-cont jsAllEmpCustomSelectInputArrowCont jsAllEmpCustomSelectInputArrowContAddress">
                <input class="all-emp-custom-select-input jsCustomSelectInput jsCutomSelectArrowCont jsCustomSelectInputRegion" disabled />
                <div class="all-emp-custom-select-arrow-cont arrow-cont-disabled jsCutomSelectArrowContRegion">
                    <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                        <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                    </svg>
                </div>
            </div>
            <ul class="all-emp-custom-select-search-ul display-none jsAllEmpAddressUl jsAllEmpAddressUlRegion">
            </ul>
        </div>
    </div>
    <div class="emp-det-sub-ind-cont jsEmpDetIndCont">
        <label class="emp-det-label">Province:</label>
        <div class="all-emp-custom-select-main-cont jsAllEmpCustomSelectMainCont">
            <div class="all-emp-custom-select-input-arrow-cont jsAllEmpCustomSelectInputArrowCont jsAllEmpCustomSelectInputArrowContAddress">
                <input class="all-emp-custom-select-input jsCustomSelectInput jsCustomSelectInputProvince" disabled />
                <div class="all-emp-custom-select-arrow-cont arrow-cont-disabled jsCutomSelectArrowCont jsCutomSelectArrowContProvince">
                    <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                        <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                    </svg>
                </div>
            </div>
            <ul class="all-emp-custom-select-search-ul display-none jsAllEmpAddressUl jsAllEmpAddressUlProvince">
            </ul>
        </div>
    </div>
    <div class="emp-det-sub-ind-cont jsEmpDetIndCont">
        <label class="emp-det-label">City:</label>
        <div class="all-emp-custom-select-main-cont jsAllEmpCustomSelectMainCont">
            <div class="all-emp-custom-select-input-arrow-cont jsAllEmpCustomSelectInputArrowCont jsAllEmpCustomSelectInputArrowContAddress">
                <input class="all-emp-custom-select-input jsCustomSelectInput jsCustomSelectInputCity" disabled />
                <div class="all-emp-custom-select-arrow-cont arrow-cont-disabled jsCutomSelectArrowCont jsCutomSelectArrowContCity">
                    <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                        <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                    </svg>
                </div>
            </div>
            <ul class="all-emp-custom-select-search-ul display-none jsAllEmpAddressUl jsAllEmpAddressUlCity">
            </ul>
        </div>
    </div>
    <div class="emp-det-sub-ind-cont jsEmpDetIndCont">
        <label class="emp-det-label">Barangay:</label>
        <div class="all-emp-custom-select-main-cont jsAllEmpCustomSelectMainCont">
            <div class="all-emp-custom-select-input-arrow-cont  jsAllEmpCustomSelectInputArrowCont jsAllEmpCustomSelectInputArrowContAddress">
                <input class="all-emp-custom-select-input jsCustomSelectInput jsCustomSelectInputBarangay" disabled />
                <div class="all-emp-custom-select-arrow-cont arrow-cont-disabled jsCutomSelectArrowCont jsCutomSelectArrowContBarangay">
                    <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                        <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                    </svg>
                </div>
            </div>
            <ul class="all-emp-custom-select-search-ul display-none jsAllEmpAddressUl jsAllEmpAddressUlBarangay">
            </ul>
        </div>
    </div>
    <div class="emp-det-sub-ind-cont jsEmpDetIndCont">
        <label class="emp-det-label">Address 1:</label>
        <input name="AddressLine1" class="emp-det-ind-item-input jsInput jsInputAddressLine1" disabled />
    </div>
    <div class="emp-det-sub-ind-cont jsEmpDetIndCont">
        <label class="emp-det-label">Address 2:</label>
        <input name="AddressLine2" class="emp-det-ind-item-input jsInput jsInputAddressLine2" disabled placeholder="optional" />
    </div>
</div>

