<div class="all-emp-image-source-main-cont jsAllEmpImageSourceMainCont">
    <div class="image-source-sub-cont jsImageSourceSubcont">
        <div class="image-source-header-cont">
            <label class="image-source-header-label">Select image source..</label>
            <h3 class="image-source-close jsImageSourceClose">&times;</h3>
        </div>
        <div class="image-source-content-cont">
            <input name="EmployeeImageFile" class="jsEmployeeImageFile" type="file" hidden/>
            <label for="EmployeeImageFile" class="image-source-content-text jsEmployeeImageSourceGalleryLabel ">Choose from Gallery</label>
          
            <label class="image-source-content-text">Open Camera</label>
           
        </div>
    </div>
</div>