@{
    ViewData["Title"] = "MainPage";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}

<div class="allemployee-main-cont jsAllEmployeeMainCont">
    <div class="allemployee-sub-cont jsAllEmployeeSubCont">
        <div class="allemployee-title-cont">
            <h2 class="allemployee-title-text">Employee Records</h2>
            <h2 class="allemployee-title-close">&times;</h2>
        </div>
        <div class="allemployee-item-cont">
            <label class="allemployee-search-label">Search name :</label>
            <div class="allemployee-input-cont jsInputCont">
                <input name="SearchName" class="allemployee-search-input jsSearchInput"/>
                <button class="allemp-search-btn jsAllEmpSearchBtn">Search</button>
                <ul class="search-cont jsSearchCont display-none">
                    
                </ul>
            </div>
        </div>
       
    </div>
</div>

