
<div class="employee-details-main-cont jsEmployeeDetailsMainCont">
    <div class="employee-details-sub-cont jsEmployeeDetailsSubCont">
        <div class="employee-details-main-title-cont">
            <h3 class="employee-details-main-title-text">Employee details</h3>
            <h3 class="employee-details-main-close">&times;</h3>
        </div>
        <div class="employee-details-photo-main-cont">
            <div class="personalinfo-main-cont">
                <div class="employee-details-item-header-title-cont">
                    <h4 class="employee-details-item-header-title-text">Personal info</h4>
                    <button class="employee-details-item-header-title-btn">Cancel</button>
                </div>
                <div class="personalinfo-item-main-cont">
                    <div class="employee-details-photo-cont">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="employee-details-image-svg">
                            <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                        </svg>
                    </div>
                    <div class="personalinfo-item-sub-cont">
                        <div class="persinfo-ind-item-cont">
                            <label class="persinfo-ind-item-label">Feliciano Jr</label>
                            <button class="emp-det-ind-item-btn">Edit</button>
                        </div>
                        <div class="persinfo-ind-item-cont">
                            <label class="persinfo-ind-item-label">Ganza</label>
                            <button class="emp-det-ind-item-btn">Edit</button>
                        </div>
                        <div class="persinfo-ind-item-cont">
                            <label class="persinfo-ind-item-label">Marinas</label>
                            <button class="emp-det-ind-item-btn">Edit</button>
                        </div>
                        <div class="persinfo-ind-item-cont">
                            <label class="persinfo-ind-item-label">Jan 7, 1979</label>
                            <button class="emp-det-ind-item-btn">Edit</button>
                        </div>
                        <div class="persinfo-ind-item-cont">
                            <label class="persinfo-ind-item-label">Male</label>
                            <button class="emp-det-ind-item-btn">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="emp-det-sub-cont">
                <div class="emp-det-sub-title-cont">
                    <h4 class="employee-details-item-header-title-text">Benifits</h4>
                    <button class="employee-details-item-header-title-btn">Cancel</button>
                </div>
                <div class="emp-det-sub-item-cont">
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">SSS No.:</label>
                        <label class="ind-value-label">000-000343433-2</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Philhealth No.:</label>
                        <label class="ind-value-label">000-000343433-2</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Pagibig No.:</label>
                        <label class="ind-value-label">000-000343433-2</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">TIN No.:</label>
                        <label class="ind-value-label">000-000343433-2</label>
                        <button class="emp-det-ind-item-btn">Edit</button>

                    </div>
                </div>
            </div>
            <div class="emp-det-sub-cont">
                <div class="emp-det-sub-title-cont">
                    <h4 class="employee-details-item-header-title-text">Contacts</h4>
                    <button class="employee-details-item-header-title-btn">Cancel</button>
                </div>
                <div class="emp-det-sub-item-cont">
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Mobile No.:</label>
                        <label class="ind-value-label">09173010779</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Landline No.:</label>
                        <label class="ind-value-label">0229839092</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Email Add:</label>
                        <label class="ind-value-label">nonoymarinas@gmail.com</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    
                </div>
            </div>
            <div class="emp-det-sub-cont">
                <div class="emp-det-sub-title-cont">
                    <h4 class="employee-details-item-header-title-text">Job Description</h4>
                    <button class="employee-details-item-header-title-btn">Cancel</button>
                </div>
                <div class="emp-det-sub-item-cont">
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Position:</label>
                        <label class="ind-value-label">Civil Engineer</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Department:</label>
                        <label class="ind-value-label">Engineering</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Remarks:</label>
                        <label class="ind-value-label">None</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>

                </div>
            </div>
            <div class="emp-det-sub-cont">
                <div class="emp-det-sub-title-cont">
                    <h4 class="employee-details-item-header-title-text">Compensation</h4>
                    <button class="employee-details-item-header-title-btn">Cancel</button>
                </div>
                <div class="emp-det-sub-item-cont">
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Rate Period:</label>
                        <label class="ind-value-label">Monthly</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Basic Salary:</label>
                        <label class="ind-value-label">100,000.00</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Allowance:</label>
                        <label class="ind-value-label">5,000.00</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>
                    <div class="emp-det-sub-ind-cont">
                        <label class="emp-det-label">Salary Condition:</label>
                        <label class="ind-value-label">Fixed Absolute</label>
                        <button class="emp-det-ind-item-btn">Edit</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
