
<div class="new-emp-main-cont jsNewEmpMainCont">
    <div class="new-emp-sub-cont jsNewEmpSubCont">
        <div class="new-emp-main-title-cont">
            <h3 class="new-emp-main-title-text">Employee details</h3>
            <h3 class="new-emp-main-close">&times;</h3>
        </div>
        @*personal information*@
        <div class="new-emp-main-content-cont ">
            <div class=" new-emp-sub-content-cont jsNewEmpSubContentCont">
                <div class="new-emp-content-title-cont">
                    <div class="new-emp-sub-group-title-cont">
                        <h4 class="employee-details-item-header-title-text">Personal info</h4>
                        <button name="persinfo" class="new-emp-sub-group-title-save-btn jsNewEmpGroupTitleSaveEditBtn">Save</button>
                        <button name="persinfo" class="new-emp-sub-group-title-cancel-btn  jsNewEmpCancelBtn jsNewEmpCancelBtnPersInfo">Cancel</button>
                    </div>
                </div>

                <div class="new-emp-item-persinfo-main-cont">
                    <div class="emp-det-sub-photo-main-cont">
                        <div class="new-emp-photo-cont">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="employee-details-image-svg">
                                <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
                            </svg>
                        </div>
                    </div>
                    <div class="personalinfo-item-sub-cont">
                        <div class="new-emp-ind-item-cont-persinfo jsNewEmpIndItemCont">
                            <label class="new-emp-label new-emp-label-persinfo">First Name:</label>
                            <input name="FirstName" class="new-emp-pure-input jsPureInput" placeholder="First Name" />
                            <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                        </div>
                        <div class="new-emp-ind-item-cont-persinfo jsNewEmpIndItemCont">
                            <label class="new-emp-label new-emp-label-persinfo">Middle Name:</label>
                            <input name="MiddleName" class="new-emp-pure-input jsPureInput" placeholder="Middle Name" />
                            <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                        </div>
                        <div class="new-emp-ind-item-cont-persinfo jsNewEmpIndItemCont">
                            <label class="new-emp-label new-emp-label-persinfo">Last Name:</label>
                            <input name="LastName" class="new-emp-pure-input jsPureInput" placeholder="Last Name" />
                            <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                        </div>
                        <div class="new-emp-ind-item-cont-persinfo jsNewEmpIndItemCont">
                            <label class="new-emp-label new-emp-label-persinfo">Date of Birth:</label>
                            <input type="date" name="DateOfBirth" class="new-emp-pure-input jsPureInput" placeholder="Date of Birth" />
                            <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                        </div>
                        <div class="new-emp-ind-item-cont-persinfo jsNewEmpIndItemCont">
                            <label class="new-emp-label new-emp-label-persinfo">Gender:</label>
                            <div class="new-emp-select-main-cont jsNewEmpSelectMainContGender">
                                <div class="new-emp-select-input-arrow-cont jsNewEmpSelectInputArrowCont jsNewEmpSelectInputArrowContGender">
                                    <input name="Gender" class="new-emp-select-input jsSelectInput jsSelectInputGender" placeholder="Gender" />
                                    <div name="Gender" class="new-emp-select-arrow-cont jsNewEmpSelectArrowCont jsNewEmpSelectArrowContGender">
                                        <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                            <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                        </svg>
                                    </div>
                                </div>
                                <ul class="all-emp-custom-select-search-ul display-none">
                                </ul>
                            </div>
                            <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsSelectInputEditBtn" data-isactive=0 data-buttonfor="select">edit</button>
                        </div>
                        <div class="new-emp-ind-item-cont-persinfo">
                            <label class="new-emp-label new-emp-label-persinfo">Employee No.:</label>
                            <input class="new-emp-pure-input new-emp-input-disabled" disabled placeholder="Employee Number" />
                        </div>
                    </div>

                </div>
            </div>
            @*benifits*@
            <div class="new-emp-sub-content-cont jsNewEmpSubContentCont">
                <div class="new-emp-sub-group-title-cont">
                    <h4 class="employee-details-item-header-title-text">Benifits</h4>
                    <button name="benifit" class="new-emp-sub-group-title-save-btn  jsNewEmpGroupTitleSaveEditBtn">Save</button>
                    <button name="benifit" class="new-emp-sub-group-title-cancel-btn jsNewEmpCancelBtn jsNewEmpCancelBtnBenifits">Cancel</button>
                </div>
                <div class="new-emp-item-group-main-cont">
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">SSS No.:</label>
                        <input name="SssNumber" class="new-emp-pure-input  jsPureInput" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                    </div>
                    <div class="new-emp-ind-item-cont jsEmpDetIndCont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Philhealth No.:</label>
                        <input name="PhilHealthNumber" class="new-emp-pure-input jsPureInput" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                    </div>
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Pagibig No.:</label>
                        <input name="PagIbigNumber" class="new-emp-pure-input jsPureInput" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                    </div>
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">TIN No.:</label>
                        <input name="TinNumber" class="new-emp-pure-input  jsPureInput" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>

                    </div>
                </div>
            </div>
            @*contacts*@
            <div class="new-emp-sub-content-cont jsNewEmpSubContentCont">
                <div class="new-emp-sub-group-title-cont">
                    <h4 class="employee-details-item-header-title-text">Contacts</h4>
                    <button name="contact" class="new-emp-sub-group-title-save-btn jsNewEmpGroupTitleSaveEditBtn">Save</button>
                    <button name="contact" class="new-emp-sub-group-title-cancel-btn jsNewEmpCancelBtn jsNewEmpCancelBtnContacts">Cancel</button>
                </div>
                <div class="new-emp-item-group-main-cont">
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Mobile No.:</label>
                        <input name="MobileNumber" class="new-emp-pure-input jsPureInput" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled  jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                    </div>
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Landline No.:</label>
                        <input name="LandLineNumber" class="new-emp-pure-input jsPureInput" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled  jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                    </div>
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Email Add:</label>
                        <input name="EmailAddress" class="new-emp-pure-input jsPureInput" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                    </div>

                </div>
            </div>
            @*address*@
            <div class="new-emp-sub-content-cont jsEmpDetSubMainCont">
                <div class="new-emp-sub-group-title-cont jsEmpDetIndCont">
                    <h4 class="employee-details-item-header-title-text">Address</h4>
                    <button name="address" class="new-emp-sub-group-title-save-btn jsNewEmpAddressEditBtn">Save</button>
                    <button name="address" class="new-emp-sub-group-title-cancel-btn jsNewEmpCancelBtn">Cancel</button>
                </div>
                <div class="new-emp-item-group-main-cont">
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Country:</label>
                        <div class="new-emp-select-main-cont jsNewEmpSelectMainCont">
                            <div class="new-emp-select-input-arrow-cont ">
                                <input class="new-emp-select-input jsCustomSelectInput jsCustomSelectInputCountry" />
                                <div class="new-emp-select-arrow-cont jsNewEmpSelectArrowCont jsCutomSelectArrowContCountry">
                                    <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                        <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                    </svg>
                                </div>
                            </div>
                            <ul class="all-emp-custom-select-search-ul display-none jsAllEmpAddressUl jsAllEmpAddressUlCountry">
                            </ul>
                        </div>
                    </div>
                    <div class="new-emp-address-type-main-cont jsNewEmpAddressTypeMainCont">

                        <div class="emp-det-sub-phil-address-cont jsEmpDetSubPhilAddressCont">
                            @*region*@
                            <div class="new-emp-ind-item-cont">
                                <label class="new-emp-label">Region:</label>
                                <div class="all-emp-custom-select-main-cont jsAllEmpCustomSelectMainCont">
                                    <div class="new-emp-select-input-arrow-cont">
                                        <input class="all-emp-custom-select-input jsCustomSelectInput jsCutomSelectArrowCont jsCustomSelectInputRegion" disabled />
                                        <div class="all-emp-custom-select-arrow-cont arrow-cont-disabled jsCutomSelectArrowContRegion">
                                            <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                                <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <ul class="all-emp-custom-select-search-ul display-none jsAllEmpAddressUl jsAllEmpAddressUlRegion">
                                    </ul>
                                </div>
                            </div>
                            @*province*@
                            <div class="new-emp-ind-item-cont ">
                                <label class="new-emp-label">Province:</label>
                                <div class="all-emp-custom-select-main-cont jsAllEmpCustomSelectMainCont">
                                    <div class="new-emp-select-input-arrow-cont">
                                        <input class="all-emp-custom-select-input jsCustomSelectInput jsCustomSelectInputProvince" disabled />
                                        <div class="all-emp-custom-select-arrow-cont arrow-cont-disabled jsCutomSelectArrowCont jsCutomSelectArrowContProvince">
                                            <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                                <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <ul class="all-emp-custom-select-search-ul display-none jsAllEmpAddressUl jsAllEmpAddressUlProvince">
                                    </ul>
                                </div>
                            </div>
                            @*city*@
                            <div class="new-emp-ind-item-cont ">
                                <label class="new-emp-label">City:</label>
                                <div class="all-emp-custom-select-main-cont jsAllEmpCustomSelectMainCont">
                                    <div class="new-emp-select-input-arrow-cont">
                                        <input class="all-emp-custom-select-input jsCustomSelectInput jsCustomSelectInputCity" disabled />
                                        <div class="all-emp-custom-select-arrow-cont arrow-cont-disabled jsCutomSelectArrowCont jsCutomSelectArrowContCity">
                                            <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                                <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <ul class="all-emp-custom-select-search-ul display-none jsAllEmpAddressUl jsAllEmpAddressUlCity">
                                    </ul>
                                </div>
                            </div>
                            @*city*@
                            <div class="new-emp-ind-item-cont ">
                                <label class="new-emp-label">Barangay:</label>
                                <div class="all-emp-custom-select-main-cont jsAllEmpCustomSelectMainCont">
                                    <div class="new-emp-select-input-arrow-cont">
                                        <input class="all-emp-custom-select-input jsCustomSelectInput jsCustomSelectInputBarangay" disabled />
                                        <div class="all-emp-custom-select-arrow-cont arrow-cont-disabled jsCutomSelectArrowCont jsCutomSelectArrowContBarangay">
                                            <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                                <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                            </svg>
                                        </div>
                                    </div>
                                    <ul class="all-emp-custom-select-search-ul display-none jsAllEmpAddressUl jsAllEmpAddressUlBarangay">
                                    </ul>
                                </div>
                            </div>
                            <div class="new-emp-ind-item-cont ">
                                <label class="new-emp-label">Address 1:</label>
                                <input name="AddressLine1" class="new-emp-pure-input"  />
                            </div>
                            <div class="new-emp-ind-item-cont ">
                                <label class="new-emp-label">Address 2:</label>
                                <input name="AddressLine2" class="new-emp-pure-input" placeholder="optional" />
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            @*job description*@
            <div class="new-emp-sub-content-cont jsNewEmpSubContentCont">
                <div class="new-emp-sub-group-title-cont ">
                    <h4 class="employee-details-item-header-title-text">Job Description</h4>
                    <button name="jobdescription" class="new-emp-sub-group-title-save-btn jsNewEmpGroupTitleSaveEditBtn">Save</button>
                    <button name="jobdescription" class="new-emp-sub-group-title-cancel-btn  jsNewEmpCancelBtn jsNewEmpCancelBtnJobDesc">Cancel</button>
                </div>
                <div class="new-emp-item-group-main-cont">
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Position:</label>
                        <div class="new-emp-select-main-cont jsNewEmpSelectMainContPosition ">
                            <div class="new-emp-select-input-arrow-cont jsNewEmpSelectInputArrowCont ">
                                <input name="Position" class="new-emp-select-input jsSelectInput" />
                                <div name="Position" class="new-emp-select-arrow-cont jsNewEmpSelectArrowCont jsNewEmpSelectArrowContPosition">
                                    <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                        <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                    </svg>
                                </div>
                            </div>
                            <ul class="all-emp-custom-select-search-ul display-none ">
                            </ul>
                        </div>
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsSelectInputEditBtn " data-isactive=0 data-buttonfor="select">edit</button>
                    </div>
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Department:</label>
                        <div class="new-emp-select-main-cont jsNewEmpSelectMainContDepartment">
                            <div class="new-emp-select-input-arrow-cont jsNewEmpSelectInputArrowCont">
                                <input name="Department" class="new-emp-select-input jsSelectInput" />
                                <div name="Department" class="new-emp-select-arrow-cont jsNewEmpSelectArrowCont jsNewEmpSelectArrowContDepartment">
                                    <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                        <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                    </svg>
                                </div>
                            </div>
                            <ul class="all-emp-custom-select-search-ul display-none">
                            </ul>
                        </div>
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsSelectInputEditBtn" data-isactive=0 data-buttonfor="select">edit</button>
                    </div>
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Remarks:</label>
                        <input name="Remarks" class="new-emp-pure-input jsPureInput" value="None" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                    </div>

                </div>
            </div>
            @*compensation*@
            <div class="new-emp-sub-content-cont jsNewEmpSubContentCont">
                <div class="new-emp-sub-group-title-cont">
                    <h4 class="employee-details-item-header-title-text">Compensation</h4>
                    <button name="compensation" class="new-emp-sub-group-title-save-btn jsNewEmpGroupTitleSaveEditBtn">Save</button>
                    <button name="compensation" class="new-emp-sub-group-title-cancel-btn jsNewEmpCancelBtn jsNewEmpCancelBtnCompensation">Cancel</button>
                </div>
                <div class="new-emp-item-group-main-cont">
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Rate Period:</label>
                        <div class="new-emp-select-main-cont jsNewEmpSelectMainContRatePeriod">
                            <div class="new-emp-select-input-arrow-cont jsNewEmpSelectInputArrowCont">
                                <input name="RatePeriod" class="new-emp-select-input jsSelectInput" />
                                <div name="RatePeriod" class="new-emp-select-arrow-cont jsNewEmpSelectArrowCont jsNewEmpSelectArrowContRatePeriod">
                                    <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                        <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                    </svg>
                                </div>
                            </div>
                            <ul class="all-emp-custom-select-search-ul display-none">
                            </ul>
                        </div>
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsSelectInputEditBtn" data-isactive=0 data-buttonfor="select">edit</button>

                    </div>
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Basic Salary:</label>
                        <input name="BasicSalary" class="new-emp-pure-input jsPureInput" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                    </div>
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Allowance:</label>
                        <input name="Allowance" class="new-emp-pure-input jsPureInput" />
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsPureInputEditBtn" data-isactive=0 data-buttonfor="input">edit</button>
                    </div>
                    <div class="new-emp-ind-item-cont jsNewEmpIndItemCont">
                        <label class="new-emp-label">Salary Cond:</label>
                        <div class="new-emp-select-main-cont jsNewEmpSelectMainContSalaryCondition">
                            <div class="new-emp-select-input-arrow-cont jsNewEmpSelectInputArrowCont">
                                <input name="SalaryCondition" class="new-emp-select-input jsSelectInput" />
                                <div name="SalaryCondition" class="new-emp-select-arrow-cont jsNewEmpSelectArrowCont jsNewEmpSelectArrowContSalaryCondition">
                                    <svg class="arrow-disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="15px">
                                        <path d="M224 353.9l17-17L401 177l17-17L384 126.1l-17 17-143 143L81 143l-17-17L30.1 160l17 17L207 337l17 17z" />
                                    </svg>
                                </div>
                            </div>
                            <ul class="all-emp-custom-select-search-ul display-none ">
                            </ul>
                        </div>
                        <button class="new-emp-ind-edit-btn new-emp-btn-disabled jsInputEditBtn jsSelectInputEditBtn" data-isactive=0 data-buttonfor="select">edit</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


