@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>spinner</title>
    <link rel="stylesheet" href="~/css/css_spinner.css" asp-append-version="true" />
</head>
<body>
    <div class="spinner-cont">
        <div class="lds-dual-ring"></div>
    </div>
</body>
</html>
