@{
    Layout = "~/Views/Shared/_SubLayout.cshtml";
    ViewBag.Title = "Main Page";
}

<div class="home-main-cont jsHomeMainCont">
    <div class="home-sub-cont">
       <div class="home-header-cont">
           <h2 class="home-header-title-text">Home</h2>
       </div>
       <div class="home-content-cont">
           <div class="home-menu-icon-cont jsHomeMenuIconProfile justify-self-end">
               <h3>Profile</h3>
           </div>
           <div class="home-menu-icon-cont jsHomeMenuIconDashboard">
                <h3>Dashboard</h3>
           </div>
           <div class="home-menu-icon-cont jsHomeMenuIconNewEmployee justify-self-end">
               <h3>New Employee</h3>
           </div>
           <div class="home-menu-icon-cont jsHomeMenuIconAllEmployee">
                <h3>All Employee</h3>
           </div>
           <div class="home-menu-icon-cont jsHomeMenuIconSettings justify-self-end">
                <h3>Settings</h3>
           </div>
           <div class="home-menu-icon-cont">
                <h3>Settings</h3>
           </div>

       </div>
    </div>
</div>
