
.all-emp-main-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    /*min-height: calc(100% - var(--headerHeight)- var(--headerFooter))*/
}

.all-emp-sub-cont {
    max-width: 900px;
    width: 100%;
    min-height: calc(100vh - var(--headerHeight) - var(--headerFooter));
    /*height:100vh;*/
    background: var(--speedxOffWhite);
    box-shadow: 0 0 10px 5px #999;
}

.all-emp-header-cont {
    background: var(--speedxVeryDark);
    height: 180px;
}

.all-emp-content-cont {
    /*background: var(--speedxLightGray);*/
    /*min-height: calc(100vh - var(--headerHeight)- var(--headerFooter));*/
    max-height: calc(100vh - var(--headerHeight) - var(--headerFooter) - 40px - 180px);
    /*height:1000px;*/
    padding: 1rem;
    overflow-y: scroll;
}

.all-emp-title-cont {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
}
.all-emp-close{
    align-self:center;
}

.all-emp-title-text {
    height:40px;
    padding: .5rem 1rem;
}

.all-emp-item-main-cont {
    display: grid;
    grid-template-columns: 60px 1fr 120px;
    width: 100%;
    margin: .5rem 0;
    background: rgba(255,255,255,.5);
    border:1px solid #d1d1d1;
    /*padding: 0 5px;*/

}

    .all-emp-item-main-cont:hover {
        background: rgba(255,255,255,.9);
        filter: drop-shadow(#fff 0rem 0rem 5px);
        border: 1px solid #c5c5c5;
    }


.all-emp-id-number-cont {
    display: grid;
    align-items: center;
}

.all-emp-name-det-cont {
    padding: 5px 10px;
    display: grid;
    grid-template-rows: 3fr 2fr;
}

.all-emp-item-label {
    font-size: .75rem;
}

.all-emp-id-number-label {
    align-self: start;
    font-size: .75rem;
}

.all-emp-id-number-text {
    font-weight: 500;
    font-size:.85rem;

}

.all-emp-image-id-cont {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.all-emp-image-id {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.all-emp-header-cont {
    display: grid;
    grid-template-rows: 3fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    padding: 1.2rem;
}

.all-emp-header-item-cont {
    display: grid;
    grid-template-rows: 25px auto;
}

.all-emp-label {
    color: #d5d5d5;
    font-size: .85rem;
    align-self: self-end;
}

.all-emp-header-top-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    /*background: var(--speedxLightGray);*/
    padding: 10px;
    /*border-radius: 5px;*/
    border: 1px solid #555;
}

.allemployee-main-cont {
    width: 100%;
    height: 100%;
    color: #ffffff;
    margin-bottom: var(--headerFooter)
}

.all-emp-header-search-cont {
    display: grid;
    grid-template-columns: 80px 1fr 60px;
    background: rgba(255,255,255,.8);
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
    justify-self: center;
    align-self: center;
    height: 35px;
    /*border:5px solid #777;*/
    filter: drop-shadow(#9ea6a9 0rem 0rem 10px);
    justify-self:flex-start;
}

.all-emp-search-input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none
}

.all-emp-header-bottom-cont {
    display: grid;
    grid-template-columns:1fr 120px;
    grid-column-gap:20px;
}
.search-filter-btn{
    width:120px;
    padding:8px;
    color:#d5d5d5;
    background:none;
    border:1px solid #b1b1b1;
    align-self:center;
    border-radius:20px;
}

    .search-filter-btn:hover {
        filter: drop-shadow(#9ea6a9 0rem 0rem 10px);
        background:#6a6a6a;
    }
    .search-filter-btn:active {
        background: #eeffe7;
    }

.all-emp-filter-label {
    align-self: center;
    justify-self: self-start;
    font-size: .85rem;
    color: #b5b5b5;
}

.search-svg-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.all-emp-search-label {
    align-self: center;
    justify-self: center;
    font-size: .85rem;
    color: #555;
}

.allemployee-sub-cont {
    padding: 1em;
    width: 100%;
    height: 100%;
}

.allemployee-title-cont {
    display: grid;
    grid-template-columns: 1fr 40px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #969696;
    margin-bottom: 1em;
}

.allemployee-item-label {
    align-self: center;
}

.allemployee-title-close {
    justify-self: center;
}

.allemployee-item-cont {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.allemployee-search-label {
    margin-bottom: .5em;
    color: #969696;
}

.allemployee-input-cont {
    display: grid;
    grid-template-columns: 1fr 60px;
    border: 1px solid #505050;
    background: rgba(100,100,100,.1);
    position: relative;
}

.allemployee-search-input {
    width: 100%;
    padding: .5em;
    background: none;
    border: none;
    outline: none;
    color: #fff;
}

.search-cont {
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    position: absolute;
    top: 120%;
    left: 0;
    border: 1px solid #505050;
}

.search-item-result-li {
    list-style: none;
    padding: .3em;
    cursor: default
}

    .search-item-result-li:hover {
        background: rgba(100,100,100,.2);
    }

    .search-item-result-li:active {
        background: rgba(100,100,100,.4);
    }

.allemp-search-btn {
    border: none;
    background: #555;
    color: #ffffff;
}

    .allemp-search-btn:active {
        background: #777;
    }

.all-emp-image-source-main-cont {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(200,200,200,.3);
    top: 0;
    left: 0;
}

.image-source-sub-cont {
    --width: 350px;
    display: grid;
    grid-template-rows: 40px 1fr;
    max-width: 96%;
    width: var(--width);
    height: 200px;
    background: #ffffff;
    border: rgba(5,5,5,.3);
    position: absolute;
    top: 20%;
    left: calc(50% - var(--width)/2);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #969696;
}

.image-source-header-cont {
    display: grid;
    grid-template-columns: 1fr 40px;
    width: 100%;
    height: 100%;
    background: #555;
}

.image-source-content-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.image-source-close {
    justify-self: center;
    align-self: center;
    color: #fff;
    cursor: pointer;
}

.image-source-header-label {
    align-self: center;
    margin-left: .5em;
    color: #fff;
}

.image-source-content-text {
    padding: 1em;
    margin: .5em;
    border: 1px solid rgba(9,9,9,.5);
}

.employee-image {
    max-width: 100%;
    max-height: 100%;
}

.employee-details-main-cont {
    display: flex;
    justify-content: center;
    background: #ffffff;
    height: 100%;
}

.employee-details-sub-cont {
    display: block;
    margin-top: var(--subHeaderHeight);
    padding: 1em;
    max-width: 800px;
    /*min-width: max-content;*/
    background: #d5d5d5;
    width: 100%;
}

.employee-details-main-title-cont {
    position: fixed;
    height: var(--subHeaderHeight);
    width: 100%;
    top: var(--headerHeight);
    left: 0;
    display: grid;
    grid-template-columns: 1fr 40px;
    background: #222;
    color: #fff;
    background: #505050;
    padding: .3em;
}

.employee-details-main-title-text {
}

.employee-details-main-close {
    justify-self: center;
    align-self: center;
}

.emp-det-sub-photo-main-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.employee-details-photo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    width: 190px;
    border-radius: 10px;
    border: 1px solid #999;
}

.employee-details-image-svg {
    fill: #999;
    max-height: 90%;
    max-width: 90%;
}

.personalinfo-item-main-cont {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-gap: 30px;
    margin-bottom: 2em;
}

.personalinfo-item-sub-cont {
    display: flex;
    flex-direction: column;
}

.persinfo-ind-item-cont {
    display: grid;
    grid-template-columns: 1fr 50px;
    width: 100%;
    margin: .2em 0;
}

.persinfo-ind-item-label {
    color: #222;
    padding: .2em;
    justify-self: self-end;
    width: 100%;
}

.emp-det-ind-item-btn {
    padding: .3em;
    font-size: .75em;
    color: #444;
    background: none;
    border: 1px solid rgba(5,5,5,.5);
    width: 100%;
}

    .emp-det-ind-item-btn:hover {
        background: #b5b5b5;
        color: #222;
    }

    .emp-det-ind-item-btn:active {
        color: #222;
    }

.employee-details-item-header-title-text {
}

.employee-details-item-header-title-btn {
    border: none;
    background: none;
}

    .employee-details-item-header-title-btn:hover {
        border: 1px dashed #555;
    }

    .employee-details-item-header-title-btn:active {
        border: 1px dashed #555;
    }

.employee-details-item-header-title-cont {
    display: grid;
    grid-template-columns: 1fr 60px;
    border-bottom: 1px solid #222;
    margin-bottom: 10px;
    padding: .3em;
    border: 1px solid rgba(100,100,100,.4);
}

.emp-det-label {
    font-size: .85em;
    color: #555;
}

.emp-det-sub-cont-persinfo {
    width: 100%;
    margin-bottom: 30px;
}

.emp-det-sub-cont {
    width: 100%;
    margin-bottom: 30px;
}

.emp-det-sub-title-cont {
    display: grid;
    grid-template-columns: 1fr 60px;
    border-bottom: 1px solid #222;
    margin-bottom: 10px;
    padding: 0.3em;
    border: 1px solid rgba(100,100,100,.4);
}

.emp-det-address-sub-title-cont {
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    border-bottom: 1px solid #222;
    margin-bottom: 10px;
    padding: 0.3em;
    border: 1px solid rgba(100,100,100,.4);
}

.emp-det-sub-item-cont {
    width: 100%;
    padding: 0 .2em;
}

.emp-det-sub-address-type-cont {
    width: 100%;
}

.emp-det-sub-ind-cont-persinfo {
    display: grid;
    grid-template-columns: 110px 1fr 50px;
    margin: .2em 0;
    width: 100%;
    grid-gap: 5px;
}

.emp-det-sub-ind-cont {
    display: grid;
    grid-template-columns: 110px 1fr 50px;
    margin: .2em 0;
}

.emp-det-address-sub-ind-cont {
    display: grid;
    grid-template-columns: 160px 1fr 50px;
    margin: .3em 0;
}

.emp-det-ind-item-input {
    background: none;
    border: none;
    color: #111;
    font-weight: 400;
    font-size: .9em;
    padding: .3em;
    outline: none;
    width: 100%;
}


.btn-text-color-red {
    color: red;
}

.all-emp-custom-select-main-cont {
    width: 100%;
    height: 100%;
    position: relative;
}

.all-emp-custom-select-search-ul {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 105%;
    z-index: 1;
    box-shadow: 1px 1px 15px 1px rgba(9,9,9,.3);
    max-height: 300px;
    overflow: scroll;
    padding-bottom: .2em;
}

.all-emp-custom-select-search-li {
    padding: .3em;
    list-style: none;
}

    .all-emp-custom-select-search-li:hover {
        background: #e5e5e5;
    }

.all-emp-custom-select-input-arrow-cont {
    display: grid;
    grid-template-columns: 1fr 30px;
}

.all-emp-custom-select-arrow-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .all-emp-custom-select-arrow-cont:hover {
        background: #e5e5e5;
    }

.all-emp-custom-select-input {
    width: 100%;
    padding: .2em;
    background: none;
    border: none;
    outline: none;
    font-size: .85em;
    font-weight: 500;
}

@media only screen and (min-width: 450px) {
    .emp-det-label-persinfo {
        display: none;
    }

    .emp-det-sub-ind-cont-persinfo {
        display: grid;
        grid-template-columns: 1fr 50px;
        margin: .2em 0;
    }

    .emp-det-sub-cont-persinfo {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 100%;
        margin-bottom: 30px;
        grid-column-gap: 1em;
    }

    .emp-det-label {
        font-size: .75rem;
    }
}
