/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff !important;
}

.allemployee-main-cont {
    width: 100%;
    height: 100%;
    color: #ffffff;
    margin-bottom: var(--headerFooter)
}

.allemployee-sub-cont {
    padding: 1em;
    width: 100%;
    height: 100%;
}

.allemployee-title-cont {
    display: grid;
    grid-template-columns: 1fr 40px;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #969696;
    margin-bottom: 1em;
}

.allemployee-item-label {
    align-self: center;
}

.allemployee-title-close {
    justify-self: center;
}

.allemployee-item-cont {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.allemployee-search-label {
    margin-bottom: .5em;
    color:#969696;
}

.allemployee-input-cont {
    display: grid;
    grid-template-columns: 1fr 60px;
    border: 1px solid #505050;
    background: rgba(100,100,100,.1);
    position: relative;
}

.allemployee-search-input {
    width: 100%;
    padding: .5em;
    background: none;
    border: none;
    outline: none;
    color: #fff;
}

.search-cont {
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    position: absolute;
    top: 120%;
    left: 0;
    border: 1px solid #505050;
}

.search-item-result-li {
    list-style: none;
    padding: .3em;
    cursor: default
}

    .search-item-result-li:hover {
        background: rgba(100,100,100,.2);
    }

    .search-item-result-li:active {
        background: rgba(100,100,100,.4);
    }

.allemp-search-btn {
    border: none;
    background: #555;
    color: #ffffff;
}

    .allemp-search-btn:active {
        background: #777;
    }

.all-emp-image-source-main-cont {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(200,200,200,.3);
    top: 0;
    left: 0;
}

.image-source-sub-cont {
    --width: 350px;
    display: grid;
    grid-template-rows: 40px 1fr;
    max-width: 96%;
    width: var(--width);
    height: 200px;
    background: #ffffff;
    border: rgba(5,5,5,.3);
    position: absolute;
    top: 20%;
    left: calc(50% - var(--width)/2);
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px 1px #969696;
}

.image-source-header-cont {
    display:grid;
    grid-template-columns:1fr 40px;
    width: 100%;
    height: 100%;
    background:#555;
}
.image-source-content-cont {
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
}
.image-source-close {
    justify-self: center;
    align-self: center;
    color: #fff;
    cursor:pointer;
}
.image-source-header-label {
    align-self:center;
    margin-left:.5em;
    color: #fff;
}
.image-source-content-text{
    padding:1em;
    margin:.5em;
    border:1px solid rgba(9,9,9,.5);
}
.employee-image{
    max-width:100%;
    max-height:100%;
}
.employee-details-sub-cont {
    margin-top: var(--subHeaderHeight);
    padding:.5em;
    max-width:900px;
}
.employee-details-main-title-cont {
    position: fixed;
    height: var(--subHeaderHeight);
    width: 100%;
    top: var(--headerHeight);
    left: 0;
    display: grid;
    grid-template-columns: 1fr 40px;
    background: #222;
    color: #fff;
    background: #505050;
    padding: .3em;
}
.employee-details-main-title-text{

}
.employee-details-main-close{
    justify-self:center;
    align-self:center;
}
.employee-details-photo-cont{
    display:flex;
    justify-content:center;
    align-items:center;
    height:160px;
    width:160px;
    border-radius:10px;
    border:1px solid #999;
}
.employee-details-image-svg {
    fill: #999;
    max-height: 90%;
    max-width: 90%;
}
.personalinfo-item-main-cont{
    display:grid;
    grid-template-columns:160px 1fr;
    grid-gap:30px;
}
.personalinfo-item-sub-cont{
    display:flex;
    flex-direction:column;
}
.persinfo-ind-item-cont{
    display:grid;
    grid-template-columns:1fr auto;
}
.persinfo-ind-item-label{
    color:#fff;
    padding:.3em;
    /*justify-self:self-end;*/
}
