
.alert-main-expandable-cont {
    --alertwidth: 320px;
}

.alert-main-expandable-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: rgba(255,255,255,.4);
    z-index: 1000;
}

.alert-cont-type-ok {
    display: grid;
    grid-template-rows: 40px 1fr 60px;
    width: var(--alertwidth);
    border: 1px solid #d3d3d3;
    /*border-radius: 5px;*/
    background: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px 3px rgba(9,9,9,.2);
    position: absolute;
    left: calc(100% - 50% - calc(var(--alertwidth) / 2));
    top: 20%;
}


.alert-header-cont-ok {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    background: #777;
}

.alert-content-cont-ok {
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.alert-paragraph-ok {
    padding: 15px;
}

.alert-img-cont-ok {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-footer-cont-ok {
    width: 100%;
    display: grid;
    padding: 0 20px;
}

.alert-button-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    background: none;
    border: 1px solid;
    justify-self: center;
    cursor: pointer;
    letter-spacing:.1em;
    height: 45px;
}

    .alert-button-ok:hover {
        background: #e9e9e9;
        border: 1px solid #b9b9b9;
    }

.alert-icon-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-header-icon-success {
    display: flex;
    width: 25px;
    justify-content: center;
    align-items: center;
}

.alert-header-icon-error {
    display: flex;
    width: 15px;
    justify-content: center;
    align-items: center;
}

.alert-header-icon-warning {
    display: flex;
    width: 25px;
    justify-content: center;
    align-items: center;
}

.alert-header-icon-critical {
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
}

.alert-header-icon-info {
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
}

.color-error {
    background-color: #343A40;
    color: #fff;
}

.color-critical {
    background-color: #ff4343;
}

.color-warning {
    background-color: #FFC107;
}

.color-success {
    background-color: #74b547;
}

.color-info {
    background-color: #17A2B8;
}

.noSelect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.alert-cont-yesorno {
    display: grid;
    grid-template-rows: 50px 1fr 60px;
    width: 450px;
    height: 250px;
    border-radius: 5px;
    background: #ffff;
    overflow: hidden;
    position: absolute;
    top: calc(50vh - 300px);
    left: calc(50% - 225px);
    box-shadow: rgba(10,10,10,.3) 0px 0px 75px;
}

.alert-header-cont {
    display: grid;
    grid-template-columns: 1fr 65px;
    height: 100%;
    background: #74b5d5
}

.alert-header-text {
    padding-left: 20px;
    font-weight: 300;
    align-self: center;
}

.alert-header-close {
    align-self: center;
    justify-self: center;
    cursor: pointer;
    font-size: 1.5em
}

    .alert-header-close :hover {
        font-size: 2em;
    }

    .alert-header-close :active {
        color: #555;
    }

.alert-content-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-content-text {
    align-self: center;
    justify-self: center;
    font-weight: 300;
    text-align: center;
}



.alert-footer-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    /*background: #74b5d5*/
}

.alert-footer-text-no {
    display: flex;
    justify-content: center;
    align-self: start;
    justify-self: center;
    cursor: pointer;
    border: 1px solid #999;
    width: 120px;
    padding: 10px;
}

    .alert-footer-text-no:hover {
        color: #777;
    }

.alert-footer-text-yes {
    display: flex;
    justify-content: center;
    align-self: start;
    justify-self: center;
    cursor: pointer;
    background: #999;
    width: 120px;
    padding: 10px;
}

    .alert-footer-text-yes:hover {
        background: #b9b9b9;
        color: #777;
    }



.invalid {
    border: 1px solid red;
}

.disabled {
    background: #999;
    color: #ffff;
}

    .disabled:hover {
        background: #999;
        color: #ffff;
    }

.max-width-zero{
    max-width:0;
}

