
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,SansSerif,Verdana, Geneva, Tahoma;
}

html {
    --headerheigth: 60px;
    --footerheigth: 50px;
    --minimumContentWidth: 375px;
    height: 100%;
}

body {
    margin-top: var(--headerHeight);
    margin-bottom: var(--headerFooter);
    --headerHeight: 60px;
    --subHeaderHeight: 40px;
    --headerFooter: 60px;
    --mainHeaderBackgroundColor: #999;
    font-family: Poppins,SansSerif,Verdana, Geneva, Tahoma;
    min-height: 100vh;
    width: 100%;
    --speedxVeryDark: #272829;
    --speedxMediumDark: #394867;
    --speedxLightGray: #61677A;
    --speedxOffWhite: #D8D9DA;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
}

    input[type="date"]::-webkit-calendar-picker-indicator:hover {
        opacity: 1
    }

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}
