.invalid {
    border: 1px solid red;
}

.disable-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background: #3d3d3d;
    height: 100%;
    color: #777;
    letter-spacing: .1em;
    padding: 0 .5em;
}

.disable-input {
    color: #d5d5d5;
    font-weight: 200;
}

.position-relative {
    position: relative;
}

.display-none {
    display: none;
}

.display-grid-col-1fr-60px {
    grid-template-columns: 1fr 60px;
}

.display-grid-col-1fr-80px {
    grid-template-columns: 1fr 80px;
}

.border-bottom-1px-808080 {
    border-bottom: 1px solid #808080
}

.disable-cancel-button {
    color: #777;
}

    .disable-cancel-button:hover {
        color: #777;
        border: none;
    }

    .disable-cancel-button:active {
        color: #777;
        border: none;
    }

.new-emp-btn-disabled {
    border: none;
    background: none;
    color: #999;
}

    .new-emp-btn-disabled:hover {
        border: none;
    }

    .new-emp-btn-disabled:active {
        border: none;
    }

.new-emp-input-disabled {
    border: none;
    background: #e2e2e2;
    color: #555;
    user-select: none;
}

.arrow-cont-disabled:hover {
    background: none;
}

.input-enable {
    background: #eeeeee;
    border: 1px solid rgba(9,9,9,.4);
}

.arrow-disabled {
    fill: #999;
}

.disbale-cancel-btn {
    color: #969696;
}

    .disbale-cancel-btn:hover {
        border: none;
        background: none;
    }

.new-emp-save-btn {
    background: #009000;
    color: #fff;
    border:none;
}
