* {
   
    font-family: Poppins,SansSerif,Verdana, Geneva, Tahoma;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #555 !important;
}

/*Change text in autofill textbox*/
/*input:-webkit-autofill {
    -webkit-text-fill-color: none !important;
}*/
.workerinfo-main-cont {
    width: 100%;
    height: 100%;
    color: #ffffff;
    margin-bottom: var(--headerFooter)
}

.workerinfo-sub-cont {
    padding: 1em;
    width: 100%;
    height: 100%;
}

.workerinfo-title-cont {
    display: grid;
    grid-template-columns: 1fr 40px;
    width: 100%;
    padding-bottom:7px;
}

.workerinfo-item-main-cont {
    margin-top: 1em;
}

.workerinfo-title-text {
    align-self:center;
    font-size: 1.2em;
}

.workerinfo-title-close {
    justify-self:center;
}

.workerinfo-item-cont {
    display: grid;
    grid-template-columns: 110px 1fr;
    width: 100%;
    margin-top: 1em;
    /*grid-gap:10px;*/
}
.workerinfo-emp-number-cont {
    display: grid;
    grid-template-columns: 110px 1fr;
    width: 100%;
    margin-top: 1em;
    /*padding-right:1em;*/
}
.employee-number-text{
    color:#ffffff;
    justify-self:self-end
}
.workerinfo-input-icon-cont {
    display: grid;
    grid-template-columns: 1fr 60px;
    border: 1px solid #505050;
    background: rgba(100,100,100,.1);
    border-radius: 5px;
}

.item-svg-icon {
    align-self: center;
    justify-self: center;
    width: 15px;
    fill: #ffffff
}

.workerinfo-item-label {
    color: #999;
    align-self: center;
    font-size: .85em;
}

.workerinfo-item-input {
    padding: .4em;
    font-size: .9em;
    border: none;
    background: none;
    border: none;
    color: #fff;
    outline: none;
}

.input-btn {
    background: none;
    border: none;
    color: #808080;
    width: 100%;
    padding: 0 .7em;
    position: relative;
    font-size: .6em;
}

.edit-btn-active {
    background: none;
    border: none;
    color: #179009;
    width: 100%;
    padding: 0 .7em;
    position: relative;
    font-size: .6em;
}
    .edit-btn-active:hover {
        background: #606060;
        color: #999;
    }

.edit-btn-active:active {
    background: #606060;
    color: #d5d5d5;
}

.update-btn-active {
    color: #a31313;
}
.update-btn-active:hover {
    color: #a31313;
}
.update-btn-active:active {
    color: #a31313;
}

.workerinfo-persinfo-title-cont {
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    width: 100%;
    /*background:#d5d5d5;*/
    /*color:#222;*/
    /*border-radius:5px;*/
    margin-top: 1em;
    border: 1px solid #505050;
}

.workerinfo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background: none;
    height: 100%;
    color: #d5d5d5;
    letter-spacing: .1em;
    cursor: pointer;
}

    .workerinfo-btn:hover {
        border: #808080;
        background: #999;
        color: #111;
    }

    .workerinfo-btn:active {
        border: #808080;
        background: #d5d5d5;
        color: #111;
    }

.workerinfo-sub-title-text {
    padding: .3em;
    font-size: 1em;
    font-weight: 300;
}

.workerinfo-item-select {
    padding: .4em;
    font-size: .85em;
    border-radius: 5px;
    border: none;
    background: none;
    border: none;
    color: #fff;
}

.workerinfo-item-options {
    color: #222;
}

.workers-btn {
    position: relative;
    width: 100%;
}
.worker-imageid-main-cont {
    width:100%;
    padding:1em 0;
}
.worker-imageid-sub-cont{
    display:flex;
    justify-content:center;
    width:160px;
    height:160px;
    border:1px solid #fff;
    padding:1em;
    border-radius:10px;
    background:#555;
}
.worker-image-svg-cont{
    height:100%;
    fill:#ffffff;
}
.worker-image-svg-path{
    fill:#ffffff;
    stroke-width:2px;
}