.signin-main-cont{
    display:grid;
    grid-template-rows:1fr auto 3fr;
    width:100%;
    height:100vh;
    /*border:2px solid blue;*/
    background:#ffffff;
}
.sigin-header-text-cont {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    justify-self: center;
    /*border: 1px solid red;*/
    max-width: 600px;
    padding: 1em 2em;
    width: 100%;
}
.sigin-header-text {
    font-size:1.2em;
}
.signin-user-cont {
    justify-self: center;
    grid-row-start: 2;
    max-width: 600px;
    padding: 1em 2em;
    width: 100%;
}
.signin-user-title-text{
    font-size:1.5em;
    padding:0 .5em;
}
.signin-user-email-input {
    border: 1px solid #808080;
    background: none;
    width: 100%;
    padding: .75em;
    margin: .75em 0;
    border-radius: 7px;
    outline:none;
}
.signin-user-password-input {
    border: none;
    background: none;
    width: 100%;
    padding: .75em;
    border-radius: 7px;
    outline:none;
}
.signin-user-password-cont {
    display: grid;
    grid-template-columns: 1fr 50px;
    border: 1px solid #808080;
    margin: .75em 0;
    border-radius: 7px;
}

.signin-user-password-svg-cont {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100%;
}
.forgot-password-cont {
    display: flex;
    justify-content:center;
    margin: 1em 0;
    
}
.forgot-password-text {
    font-weight: 400;
    cursor:context-menu;
}
.signin-login-btn {
    display:flex;
    justify-content:center;
    margin: .75em 0;
    padding: .65em;
    border-radius: 7px;
    background:#555;
    color:#ffffff;
    font-weight:400;
    cursor:context-menu;
}

.error-login-text{
    color:#ff0000;
    font-weight:300;
}
