* {
    --headerHeight: 60px;
    --headerFooter: 60px;
    font-family: Poppins,SansSerif,Verdana, Geneva, Tahoma;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
}

    input[type="date"]::-webkit-calendar-picker-indicator:hover {
        opacity: 1
    }

body {
    margin-top: var(--headerHeight);
    margin-bottom: var(--headerFooter);
}
