* {
    --headerHeight: 60px;
    --headerFooter: 60px;
    font-family: Poppins,SansSerif,Verdana, Geneva, Tahoma;
}
body {
    margin-top: var(--headerHeight);
    margin-bottom: var(--headerFooter);
}