* {
   
    font-family: Poppins,SansSerif,Verdana, Geneva, Tahoma;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #555 !important;
}

/*Change text in autofill textbox*/
/*input:-webkit-autofill {
    -webkit-text-fill-color: none !important;
}*/
.workerinfo-main-cont {
    width: 100%;
    height: 100%;
    color: #ffffff;
    margin-bottom: var(--headerFooter)
}

.workerinfo-sub-cont {
    padding: 0 1em;
    width: 100%;
    height: 100%;
    margin-top: var(--headerheigth) ;
    
}

.workerinfo-title-cont {
    position: fixed;
    left: 0;
    top: var(--headerheigth);
    display: grid;
    grid-template-columns: 1fr 40px;
    width: 100%;
    background:#111;
    border-bottom:1px solid rgba(100,100,100,.8);
    z-index:1;
}

.workerinfo-item-main-cont {
    margin-top: 1em;
}

.workerinfo-title-text {
    align-self:center;
    font-size: 1.2em;
    padding:0 0.5em;
}

.workerinfo-title-close {
    justify-self:center;
}

.workerinfo-item-cont {
    display: grid;
    grid-template-columns: 110px 1fr;
    width: 100%;
    margin-top: 1em;
}
.workerinfo-emp-number-cont {
    display: grid;
    grid-template-columns: 110px 1fr;
    width: 100%;
    margin-top: 1em;
}
.employee-number-text{
    color:#ffffff;
    justify-self:self-end
}
.workerinfo-input-icon-cont {
    display: grid;
    grid-template-columns: 1fr 60px;
    border: 1px solid #505050;
    background: rgba(100,100,100,.1);
}

.item-svg-icon {
    align-self: center;
    justify-self: center;
    width: 15px;
    fill: #ffffff
}

.workerinfo-item-label {
    color: #999;
    align-self: center;
    font-size: .85em;
}
.workerinfo-photo-main-cont{
    display:grid;
    grid-template-columns:auto 1fr;
}
.workerinfo-image-cont{
    display:flex;
    justify-content:center;
    align-items:center;
    height:160px;
    width:160px;
    border:1px solid #777;
    border-radius:10px;
}
.workersinfo-image-svg {
    fill: #999;
    max-height: 90%;
    max-width: 90%;
}
.workerinfo-item-input {
    padding: .3em;
    font-size: .9em;
    border: none;
    background: none;
    border: none;
    color: #fff;
    outline: none;
}

.input-btn {
    background: #d5d5d5;
    border: none;
    color: #111;
    width: 100%;
    padding: 0 .7em;
    position: relative;
    font-size: .6em;
}

.edit-btn-active {
    background: none;
    border: none;
    color: #179009;
    width: 100%;
    padding: 0 .7em;
    position: relative;
    font-size: .6em;
}
    .edit-btn-active:hover {
        background: #606060;
        color: #999;
    }

.edit-btn-active:active {
    /*background: #606060;*/
    color: #d5d5d5;
}

.update-btn-active {
    color: #a31313;
}
.update-btn-active:hover {
    color: #a31313;
}
.update-btn-active:active {
    color: #a31313;
}

.workerinfo-persinfo-title-cont {
    display: grid;
    grid-template-columns: 1fr 70px 70px;
    width: 100%;
    grid-gap:10px;
    margin-top: 1em;
}

.workerinfo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background: #d5d5d5;
    height: 100%;
    color: #222;
    letter-spacing: .1em;
    cursor: pointer;
}

    .workerinfo-btn:hover {
        border: #808080;
        background: #999;
        color: #111;
    }

    .workerinfo-btn:active {
        border: #808080;
        background: #999;
        color: #111;
    }

.workerinfo-sub-title-text {
    padding: .3em 0;
    font-size: 1em;
    font-weight: 500;
}

.workerinfo-item-select {
    padding: .4em;
    font-size: .85em;
    border-radius: 5px;
    border: none;
    background: none;
    border: none;
    color: #fff;
}

.workerinfo-item-options {
    color: #222;
}

.workers-btn {
    position: relative;
    width: 100%;
}
.worker-imageid-main-cont {
    width:100%;
    padding:1em 0;
}
.worker-imageid-sub-cont{
    display:flex;
    justify-content:center;
    align-items:center;
    width:160px;
    height:160px;
    border:1px solid #818181;
    border-radius:10px;
    background:rgba(100,100,100,.1);
    overflow:hidden;
}
.worker-image-svg-cont{
    height:80%;
    fill:#606060;
}
.worker-image-svg-path {
    fill: #606060;
    stroke-width: 1px;
}