
@{
    ViewData["Title"] = "MainPage";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<div class="dashboard-main-cont jsDashboardMainCont">
    <div class="dashboard-sub-cont"></div>
    <h1>Dash Board</h1>
</div>


