
@{
    ViewData["Title"] = "MainPage";
    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
<div class="dashboard-main-cont jsDashboardMainCont">
    <div class="dashboard-sub-cont">
        <h1 class="dashboard-title-text">Dash Board</h1>
    </div>
</div>


